<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qjf.demo.mapper.QrtzConsoleMapper">

    <!-- 开启二级缓存 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qjf.demo.entity.QrtzConsole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="name_en" property="nameEn" />
        <result column="full_class_name" property="fullClassName" />
        <result column="cron" property="cron" />
        <result column="last_updatetime" property="lastUpdatetime" />
        <result column="admin_user_id" property="adminUserId" />
        <result column="admin_user_ip" property="adminUserIp" />
        <result column="memo" property="memo" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, name AS name, name_en AS nameEn, full_class_name AS fullClassName, cron AS cron, last_updatetime AS lastUpdatetime, admin_user_id AS adminUserId, admin_user_ip AS adminUserIp, memo AS memo, status AS status
    </sql>

</mapper>
